# --- Python générique ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Machine Learning & Data ---
# Ignore tous les dossiers de données
old_data/

# Ignore les logs Weights & Biases
wandb/

# Ignore les modèles lourds (sauf si tu veux en partager un petit)
*.pt
*.pth
*.onnx
models/

# --- IDE (VS Code, Pycharm) ---
.vscode/
.idea/
